@import "../../assets/style/variables.module.scss";
input {
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 15px;
  &::placeholder {
    font-size: 16px;
    line-height: 24px;
    font-family: gilroyLight;
  }
  &:focus::placeholder {
    color: transparent;
  }
}
.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: white;
}
