@import "../../assets/style/variables.module.scss";
.detailWrapper {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  .productInfo {
    display: flex;
    gap: 2%;
    box-sizing: border-box;
    img {
      width: 30%;
    }

    .buyOptions {
      width: 100%;
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 28px;
        line-height: 32px;
      }
      h4 {
        font-size: 24px;
        padding-top: 20px;
        line-height: 28px;
      }
      span {
        font-size: 18px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
      small {
        font-size: 16px;
        list-style: 18px;
        display: flex;
        align-items: center;
        margin-top: 15px;
        gap: 10px;
        margin-bottom: 15px;
        text-align: center;
      }
      select {
        width: 100%;
        padding: 15px 5px;
      }
      button {
        height: 54px;
        box-sizing: border-box;
        padding: 0;
        font-size: 16px;
      }
      .amount {
        display: flex;
        align-items: baseline;
        justify-content: center;
        width: 120px;
        height: 40px;
        margin-bottom: 25px;
        p {
          width: 100%;
          text-align: center;
          height: 100%;
          font-family: Roboto, sans-serif;
        }
        button {
          width: 100%;
          height: 100%;
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }
  .conscious {
    display: flex;
    flex-direction: column;
    width: 62%;

    box-sizing: border-box;
    margin-top: 2%;

    .description {
      background-color: $gray-100;
      margin-top: 2%;
      padding: 5%;
      box-sizing: border-box;
      p {
        font-family: Roboto, sans-serif;
        &:first-child {
          color: $color-primary;
        }
      }
      span,
      p,
      small {
        font-size: 18px;
        user-select: auto;
      }
      span {
        color: $gray-400;
        small {
          color: $gray-600;
        }
      }
    }
  }
}
