@import "../../assets/style/variables.module.scss";

.buttonWrapper {
  span {
    display: block;
    width: 100vw;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100vh;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .buttonIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    cursor: pointer;
    // &:active {
    //   background-color: $color-primary;
    // }
    .buttonDropdown {
      position: absolute;
      border-radius: 5px;
      background-color: rgba(#fff, 0.9);
      top: 35px;
      z-index: 101;
      right: 5;
      ul {
        li {
          cursor: pointer;
          font-size: 18px;
          font-family: gilroyLight, "sans-serif";
          padding: 10px 35px;
          &:hover {
            background-color: rgba($color-primary, 0.9);
            transition: 500ms;
            color: #fff;
          }
          &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }
}
