@import "../../assets/style/variables.module.scss";
.shoppingWrapper {
  width: 100%;
  margin-top: 5%;
  padding: 0px 5%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  h1 {
    font-size: 34px;
    font-weight: 500;
  }
  .shoppingContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 75vh;
    .previewWrapper {
      width: 60%;
      overflow: auto;
    }

    .loginWrapper {
      width: 35%;
      display: flex;
      flex-direction: column;
      padding: 40px;
      box-sizing: border-box;
      background-color: rgba($gray-200, 0.7);
      height: 100%;
      label {
        font-size: 18px;
        font-weight: 300;
        text-align: left;
        margin-top: 25px;
        margin-bottom: 10px;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        height: 54px;
        margin: 15px 0px;
        text-transform: uppercase;

        box-sizing: border-box;
        font-weight: 500;
        &:nth-child(4) {
          background-color: #fff;
          color: $color-primary;
          &:hover {
            color: #fff;
            background-color: $color-primary;
          }
        }
      }
      .promoInput {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        button {
          font-size: 14px;
          margin: 0;
        }
        input {
          height: 54px;
          padding: 20px;
          font-size: 18px;

          box-sizing: border-box;
          background-color: $gray-100;
        }
      }
      .cost {
        display: flex;
        justify-content: space-between;
        span {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}
